/*
* Elegant Tabs for Fusion Builder - v2.3.0
*/
/* Default tab style */
.et-tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	line-height: 0 !important;
}
/* Nav */
.et-tabs nav {
	text-align: center;
	overflow: visible !important;
	display: inline-block !important;
	line-height: 0 !important;
}
.et-tabs nav ul {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 0;
	width:100%;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
.et-tabs nav select.et-mobile-tabs {
	display: none;
}
.et-tabs nav ul li {
	position: relative;
	z-index: 1;
	margin: 0;
	text-align: center;
	display: inline-block;
	float: left;
}
.et-tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
	text-decoration: none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.et-tabs nav a:hover,
.et-tabs nav a:focus {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.et-tabs nav a span {
	vertical-align: middle;
}
.et-tabs nav a:focus {
	outline: none;
}
/* Content */
.et-content-wrap {
	position: relative;
	color:#444444;
}
.et-tabs.et-tabs-style-tzoid .et-content-wrap {
    margin-top: -8px;
}
.et-content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	line-height: 1.5em;
}
.et-tabs.et-horizontal .et-content-wrap section {
	padding: 1em 0;
}
.et-tabs.et-vertical .et-content-wrap section {
	padding: 0 1em;
}
.et-content-wrap section.content-current {
	display: block;
	width: 100%;
	clear: both;
	box-sizing: border-box;
}
.infi-content-wrapper.animated {
    opacity: 1 !important;
}
/* icons */
i.iw-icons {
	font-style: normal;
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
}
/* Right aligned tabs */
.et-align-right nav {
    width: 100% !important;
		text-align: right !important;
}
.et-align-right ul li {
    float: none !important;
}
/* Center aligned tabs */
.et-align-center nav {
    width: 100% !important;
    margin-bottom: 10px;
}
.et-align-center ul li {
    float: none !important;
}
/* Vertical Tabs */
.et-tabs.et-vertical nav {
		min-width: 170px;
		max-width: 25%;
		width: auto;
    float: left;
}

.et-vertical .et-content-wrap {
		width: 75%;
		max-width: calc( 100% - 200px );
    float: left;
}

.et-tabs.et-vertical nav ul li {
    display: block !important;
    width: 100%;
		margin-bottom: 5px;
}
/* Icon Box Vertical */
.et-vertical.et-tabs-style-iconbox nav ul li.tab-current::after {
    left: 100% !important;
    top: 50% !important;
    margin-left: 0 !important;
    margin-top: -10px !important;
    border-top-color: transparent;
    border-left-color: inherit !important;
}
/* Underline Vertical */
.et-vertical.et-tabs-style-underline nav li a::after {
    left: auto;
    top: 0;
    width: 6px;
    height: 100%;
    right: 0;
		-webkit-transform: translate3d(150%,0,0);
		transform: translate3d(150%,0,0);
}
.et-vertical.et-tabs-style-underline nav a {
    border: 1px solid #e7ecea;
}
/* Topline Vertical */
.et-vertical.et-tabs-style-topline nav li.tab-current {
    border: 1px solid rgba(40,44,42,0.1);
    border-left-color: #2A90DA;
    border-right: none;
}
/* Linebox Vertical */
.et-vertical.et-tabs-style-linebox nav ul li {
    margin-bottom: 0 !important;
}
/* Justified Tabs */
.et-tabs.justified-tabs nav {
	width: 100%;
}
.et-tabs.justified-tabs nav ul li {
	display: table-cell !important;
  float: none !important;
	width: 1%;
	height: 100%;
	vertical-align: middle;
}
.et-tabs.justified-tabs nav ul li a {
	height: inherit;
}
/* Responsive tabs */
.infi-responsive-tabs .infi-tab-accordion .infi_accordion_item {
    padding: 10px;
    margin-top: 5px;
}
.infi-accordion-item-heading .iw-icons {
    display: inline-block !important;
    margin-right: 8px !important;
}
.infi-tab-accordion {
	cursor: pointer;
}
.elegant-tabs-container {
	position: relative;
	margin-top: 15px;
	float: left;
	width: 100%;
}
.infi-responsive-tabs {
	display: none;
}
.infi-accordion-item-heading {
    display: inline-block;
    width: 100%;
    height: 24px;
    line-height: 24px;
}
@media screen and (max-width: 58em) {
	.et-tabs nav a.icon span {
		display: none;
	}
	.et-tabs nav a:before {
		margin-right: 0;
	}
}
/* Maximum width of 720 pixels. */
@media screen and ( max-width: 720px ) {
	.et-tabs > nav ul	{
		display:none;
	}
	.infi-responsive-tabs,
	.infi-responsive-tabs nav ul	{
		display: block;
	}
	.et-vertical .et-content-wrap,
	.et-tabs.et-vertical nav {
		max-width: 100%;
		width: 100%;
		float: none;
	}
	.et-tabs.et-mobile-enabled nav select.et-mobile-tabs {
		display: block;
    background-color: white;
    border: thin solid #d1d1d1;
    border-radius: 0;
    font: inherit;
    line-height: 1.2em;
    padding: 0 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 15px 0px;
		max-width: 100%;
    width: 100%;
    height: 36px;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.2em;
    background-repeat: no-repeat;
    color: transparent;
    text-shadow: 0 0 0 #000;
	}
	.et-tabs.justified-tabs nav ul li,
	.et-tabs nav {
		display: block !important;
		width: 100% !important;
	}
}
